<p id="notice"><%= notice %></p>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<% if user_signed_in? && @question.user_id == current_user.id %>
<%= link_to 'Edit', edit_question_path(@question) %> |
<% end %>

<%= link_to 'Back', questions_path %>

<br><br>

<h2>Comments</h2>
  <div id="comments">
    <%= render @question.comments %>
  </div>

  <%= render 'comments/new', post: @question %>
